body{
    background-image: url(bgImage2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

#clock{
    font-family: monospace;
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(10px);
    
}